{{ define "content" }}
<section>
  <div class="container floating-content__container">
    <div class="image-container intro-animate__1" style="background-image:url('{{ "images/about/me.jpg" | absURL }}');">
    </div>
    <div class="floating-content intro-animate__2">
      <h1>Here's the scoop.</h1>
      <p>I'm an easy-going, but passionate designer and developer living in Northern Virginia.
        I'm currently a UX Engineer at <a href="http://element84.com" target="_blank">Element84</a>, 
        where I combine user-centered design principles and an acute attention to aesthetics, with a passion for writing clean, accessible, semantic code to bring those designs to life.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h5 class="mini-heading">Skills</h5>
        <ul class="no-bullets">
          <li>UI and UX Design</li>
          <li>Information Architecture</li>
          <li>Mockups, Wireframes</li>
          <li>Prototyping</li>
          <li>Front-End Development</li>
          <li>Research</li>
        </ul>
      </div>
      <div class="four columns">
        <h5 class="mini-heading">Software</h5>
        <ul class="no-bullets">
          <li>Sketch</li>
          <li>Photoshop</li>
          <li>Invision</li>
          <li>HTML, CSS, JS</li>
          <li>Sass</li>
          <li>React</li>
        </ul>
      </div>
      <div class="four columns">
          <h5 class="mini-heading">Experience</h5>
          <ul class="no-bullets">
            <li><strong>UX Engineer <br></strong>2017 - Now</li>
            <li><strong>UI/UX Designer <br></strong>2014 - 2017</li>
            <li><strong>Web Designer <br></strong>2010 - 2014</li>
          </ul>
        </div>
    </div>
  </div>
</section>
{{ end }}