
<section class="dribbble-shot_container intro-animate__3">
    <div class="container">
        <h1 class="marg-bot-5 intro-animate__1">Latest dribbble shots</h1>
    </div>
    <div id="dribbbleShots" class="row"></ul>
    <div style="clear:both;"></div>
    <div class="container text-center marg-top-5">
        <a href="https://dribbble.com/beadams86" target="_blank" class="button">All my dribbble shots...</a>
    </div>
</section>


<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>