<nav class="navbar intro-animate__fast-down">
  <div class="container">
        <div class="nav-icon">
          <a href="{{ .Site.BaseURL }}" class="navbar-logo"><img src="images/logo/B.svg" alt="Ben Adams Logo"></a>
        </div>
        {{ with .Site.Menus.main }}
        <div class="nav-menu text-right">
        <ul class="navbar-menu">
          {{ range sort . }}
          <li {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="active"{{ end }}>
            <a class="navbar-menu-item-link" href="{{ .URL }}" ><span>{{ .Name }}</span><strong></strong></a>
          </li>
          {{ end }}
          <li><a href="mailto:bennettadams@hotmail.com?subject=Hi Ben!" class="navbar-menu-item-link"><span>Email Me</span><strong></strong></a></li>
        </ul>
        {{ end }}
      </div>
    </nav>
