
    <section class="portfolio-header" style="background-image:url('{{.Site.BaseURL}}{{ .Params.splash }}');"></section>
    <div class="container container-floating">
      <div class="row">
        <div class="eight columns offset-by-two">
            <h5 class="mini-heading">
                {{ range .Params.tags }}
                    <span>{{ . }}</span> 
                {{ end }}
            </h5>
            <h1>{{ .Title }}</h1>
            <p>{{ .Params.blurb }}</p>
        </div>
      </div>
        
      </div>
    <section>
        <div class="container">
          {{ .Content }}
        </div>
    </section>
