
    <section class="portfolio-header" style="background-image:url('{{.Site.BaseURL}}{{ .Params.splash }}');"></section>
    <div class="container container-floating">
      <div class="row">
        <div class="eight columns">
            <span class="label">{{ .Params.type }}</span>
            <h1>{{ .Title }}</h1>
        </div>
        <div class="four columns">
          {{ range .Params.tags }}
            <ul>
              <li>{{ . }}</li>
            </ul>
          {{ end }}
        </div>
      </div>
        
      </div>
    <section>
        <div class="container">
          {{ .Content }}
        <div class="container">
    </section>
