
    <section class="portfolio-header" style="background-image:url('{{.Site.BaseURL}}{{ .Params.splash }}');"></section>
    <div class="container container-floating">
      <div class="row">
        <div class="eight columns offset-by-two">
            <h5 class="mini-heading">
                {{ range .Params.tags }}
                    <span>{{ . }}</span> 
                {{ end }}
            </h5>
            <h1>{{ .Title }}</h1>
            <p class="marg-bot-0">{{ .Params.blurb }}</p>
        </div>
      </div>
        
      </div>
    <section>
        <div class="container">
          {{ .Content }}
        </div>
    </section>
    <div class="portfolio-item-nav">
        <a href="../"><img src="images/icons/menu-dots-white.svg"/> Portfolio Home</a>
    </div>
    <section class="callout">
      <div class=
      "container">
      <img src="images/contact.png" class="contact-image" />
        <h1>Have some more questions?</h1>
        <a href="mailto:bennettadams@hotmail.com?subject=Hi Ben!" class="button button-primary" style="margin-right:15px;">Shoot me an email</button> 
        <a href="images/portfolio/BenAdams_UIUXResume.pdf" target="_blank" class="button">My Resume</a>
      </div>
    </section>