<section class="portfolio full-portfolio">
    <div class="container">
        <div class="row">
            <div class="seven columns">
                    <h1 class="marg-bot-5">Some selected work</h1>
            </div>
        </div>
        
        <div class="row">
            {{ range where .Site.Pages "Params.type" "portfolio"}}
            <div class="six columns">
                <a href="{{ .URL }}" class="portfolio-item" style="background-image:url('{{.Site.BaseURL}}{{ .Params.image }}');">
                    <div class="portfolio-item-text">
                        <h3>{{ .Title }}</h3>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>