{{ define "content" }}
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="nine columns">
        <h1 class="intro-animate__1">Ben Adams, <span>Engineering Design</span></h1>
        <p class="sub-title intro-animate__2">{{ .Site.Params.info }}</p>
      </div>
    </div>
  </div>
</section>

<section class="portfolio intro-portfolio intro-animate__3">
    <div class="container">
        {{ range where .Site.Pages "Params.type" "portfolio"}}
        <a href="{{ .URL }}" class="portfolio-item" style="background-image:url('{{.Site.BaseURL}}{{ .Params.image }}');">
            <div class="portfolio-item__labels">
              Full Case Study
            </div>
            <div class="portfolio-item-text">
                <label>{{ .Type }}</label>
                <h3>{{ .Title }}</h3>
            </div>
        </a>
        {{ end }}
    </div>
</section>

{{ partial "dribbbleshots.html" . }}

{{ end }}
