
//colors 
$primary: #2688FF;
$secondary: #b0e7ff;

$dark-gray: #1f2036;
$light-gray:#eff1f9;
$med-gray:#8B8EA0;

//Media Queries
$screen-xs:550px;
$screen-sm:768px;
$screen-md:1024px;
$screen-lg:1280px;
$screen-xl:1600px;

//Box shadows
$box-shadow-subtle: 1px 1px 14px rgba(0,0,0,0.1);
$box-shadow-medium: 3px 3px 24px rgba(0,0,0,0.2);
html, body {
    margin: 0;
    padding: 0;
}

body {
  color: $dark-gray;
  font-weight: 400;
  font-size:16px;
  line-height:1.6;
  font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;

}

a{
  text-decoration:none;
  color:$primary;
}

hr {
  background-color: #f1f1f1;
  border: none;
  display: block;
  height: 1px;
}

img {
  height: auto;
  max-width: 100%;
}


h1, h2, h3, h4, h5{
  font-family: 'Playfair Display', serif;
  font-weight:400;
}

h1{font-size:5rem;}
h2{font-size:4rem;}
h3{font-size:3rem;}
h4{font-size:2.5rem;}
h5{font-size:2rem;}

@media screen and (max-width:$screen-sm){
  h1{font-size:3rem;}
  h2{font-size:2.5rem;}
  h3{font-size:2rem;}
  h4{font-size:1.5rem;}
  h5{font-size:1rem;}
}
ul.inline{
  display:block;
  list-style-type:none;

  li{
    display:inline;
    margin-right:1.5rem;
    list-style-type:none;
  
  &:last-of-type{margin-right:0;}}
}
label{
  color:$med-gray;
  font-weight:normal;
  letter-spacing:1px;
  text-transform:uppercase;
  font-size:0.75em;
}
ul.no-bullets{
  list-style-type:none;

  li{margin-bottom:0;}
}
@media screen and (max-width:$screen-sm){

}
@media screen and (min-width:$screen-lg){
  body{font-size:18px;}
  .container{max-width:1200px;}
}
@media screen and (min-width:$screen-xl){
  body{font-size:20px;}
  .container{max-width:1600px;}
}

//Helper Classes
.hidden{
  visibility:hidden;
}
.font-large{font-size:1.5em;}
.narrow{font-weight:300;}

.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}

.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}

/*Helper Classes */
.marg-bot-0{margin-bottom:0;}
.marg-top-0{margin-top:0;}
.marg-bot-5{margin-bottom:5rem;}
.marg-top-5{margin-top:5rem;}


.intro-animate__1{
  opacity:0;
  -webkit-animation: opacity 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}



.intro-animate__2{
opacity:0;
-webkit-animation: opacity 1.5s;
animation-iteration-count: 1;
animation-direction: normal;
animation-delay:1s;
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.intro-animate__3{
  opacity:0;
  -webkit-animation: slideUp 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay:1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

.intro-animate__fast{
  opacity:0;
  -webkit-animation: slideUp .5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay:0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

.intro-animate__fast-down{
  opacity:0;
  -webkit-animation: slideDown .5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay:0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
  

  @keyframes opacity {
    from { opacity:0;}
    to   { opacity:1.0;}
  }

  @keyframes slideUp {
    from { opacity:0;margin-bottom:5rem;}
    to   { opacity:1.0;margin-bottom:0; margin-bottom:0;}
  }

  @keyframes slideDown {
    from { opacity:0;margin-top:-5rem;}
    to   { opacity:1.0;margin-top:0; margin-bottom:0;}
  }

  @keyframes slideLeft {
    from { opacity:0;padding-left:5rem;}
    to   { opacity:1.0;padding-top:0; margin-bottom:0;}
  }